:root{
    --color-text: #f0ebeb;
    --color-text-secondary: #CCC8C8;
    --color-background: #140f0f;
    --color-primary: #772727;
    --color-secondary: #1a1414;
    --color-secondary-additional: #1A1615;
    --color-accent: #8e6b6b;
    --color-accent-additional:#403131;
    --color-accent-additional-secondary:#4D3B3B;

    --text-size-title: 28px;
    --text-size-body: 18px;
    --text-size-small: 14px;
    --text-border-color: #807D7D;

    /* Main Content */
    --mc-background: linear-gradient(var(--color-secondary),var(--color-secondary-additional));
    --mc-border: var(--color-text-secondary) solid 2px;
    
    --mc-title-border: 3px solid var(--text-border-color);
    --mc-title-border-radius: 6px;

    --spacer-color: rgba(169, 169, 169, 0.25);

    /* Tables */
    --table-border: 2px solid var(--color-text);
    --table-value-border: 1px solid var(--text-border-color);

    /* Infobox */
    --ib-border: 4px solid var(--color-text);
}

body{
    background-color: var(--color-background);
    color: var(--color-text);
    margin:0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    margin:0;
}

/* Navbar */
.navbar{
    background-color: var(--color-secondary);
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: var(--color-text) solid 2px;
}
.navbar-button{
    display:inline-block;
    position:relative;
    transition: cubic-bezier(0, 0, 0, 1) 0.15s;
    margin: 0 5px 0 5px;
    color:var(--color-text);
    font-weight:bold;
    text-decoration: none;

}
.navbar-button::before{
    content: "";
    position: absolute;
    left:50%;
    right:0;
    bottom:0;
    width:0;
    height:2px;
    background-color: var(--color-text-secondary,--color-accent-additional);
    transition: cubic-bezier(0, 0, 0, 1) 0.15s;
}
.navbar-button:hover::before{
    width:100%;
    left:0;
    right:auto;
}
.navbar-button:hover{
    color:var(--color-text-secondary);
}

.navbar-site-logo{
    margin-right:8px;
}

/* Footer */
.footer{
    background: linear-gradient(var(--color-secondary-additional),var(--color-background));
    margin-top: 40px;
    padding: 10px;
    border-top: lightgrey dashed 2px;
    color:lightgrey;
}


.button{
    background: var(--color-primary);
    border-radius: 10px;
    /* border: 2px solid var(--text-border-color); */
    text-decoration: none;
    transition:cubic-bezier(0, 0, 0, 1) 0.15s;
    color:var(--color-text);
    font-weight:bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:4px;
}
.button:hover{
    scale:1.035;
}
.button:active{
    scale:0.95;
}
.button-logo{
    background:var(--color-accent-additional);
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    padding:8px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.button-text{
    padding: 8px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-content{
    background: var(--mc-background);
    margin:10px;
    padding:15px;
    display: flex;
    flex-direction: column;
    border:var(--mc-border);
    border-radius: 4px;
}
.main-content-title{
    display:flex;
    margin: 0 0 6px 0;
}
.main-content-title-logo{
    border-bottom:var(--mc-title-border);
    border-radius: var(--mc-title-border-radius) 0 0 var(--mc-title-border-radius);
    padding:5px;
    background:var(--color-accent-additional);
    display:flex;
    align-items: center
}
.main-content-title-text{
    border-bottom:var(--mc-title-border);
    border-radius: 0 var(--mc-title-border-radius) var(--mc-title-border-radius) 0;
    padding: 2px 6px 2px 6px;
    font-size:var(--text-size-title);
    font-weight: bold;
    background:var(--color-accent-additional-secondary);
    display:flex;
    align-items: center;
}
.main-content-contents{
    background:var(--color-accent-additional-secondary);
    border-left:var(--mc-title-border);
    border-radius: var(--mc-title-border-radius);
    padding:8px;
}

.spacer{
    background:var(--spacer-color);
    margin:20px;
    height: 5px;
    border-radius: 2px;
}
.spacer-invisible{
    margin:12px;
}

/* Tables */
tbody, td, tfoot, th, thead, tr {
    padding: 2px 5px 2px 5px;
    border:var(--table-value-border);
}
tbody{
    background: var(--color-secondary-additional);
}
td{
    background: var(--color-accent-additional);
}
.table-standard{
    border:var(--table-border);
}

.content-game-info{
    display:flex;
    align-items: flex-start
}
.content-game-info-infobox{
    border: var(--ib-border);
    border-radius: 4px;
    background:var(--color-secondary);
    padding:6px;
    margin-right:10px;
}
.content-game-info-image{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:6px;
}
.content-game-info-infobox{
    display:flex;
    flex-direction: column;
    max-width:400px;
}
@media screen and (max-width: 540px){
    .content-game-info{
        flex-direction: column;
    }
    .content-game-info-infobox{
        align-self:center;
        margin: 0 0 10px 0;
    }
    .content-game-info-links{
        flex-direction: column;
    }
}